/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: #5a5a5a;

}

.privacy ol{

    list-style-type: none;


}
.privacy ul{

    list-style-type: circle;

    margin-left: 5%;
}

.privacy h1{

    color: #7A4883;

}
.privacy h4{

    color: #7A4883;
    font-size: 110%;
}
.privacy h3{

    color: #7A4883;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.text-left{

    margin-right: 18%;

}
.text-right{


    margin-left: 18%;

}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;


}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #7A4883;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    /*max-width: 100%;*/
    margin-left: 2%;
    padding-bottom: 1%;
    height: 90%;/*32rem;*/

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.rounded-heading h2{
    color: #7A4883;

}
.rounded-heading img{
    margin-left:100px;

}
.rounded-heading li span{
    color: #7A4883;
    font-size: 150%;

}
.rounded-heading ul{

    list-style-type: none;

}
.beforafter {
    margin-top: -200px;

}

.schedule {

    background-color: #a52b52;
    color: honeydew;
}

.schedule:hover{
    color: silver;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    color: #7A4883;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
